.container {
  background-color: #78736ee0;
  min-height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper {
  background-color:  #A3B535;
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 70vh;
  width: 95%;
}
.wrapper .leftDiv {
  width: 20%;
  background-color: #78736ee0;
  border-radius: 10px;
  font-size: 1.3rem;
  padding: 10px 20px;
  color: #fff;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  
}
.wrapper .ingredients {
  width: 30%;
  background-color: #78736ee0;
  border-radius: 10px;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.wrapper .ingredients p {
  margin-top: 0;
  margin-bottom: 3px;
}

.wrapper .img{
  width:  25%;
}
.wrapper img {
  width: 100%;
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.wrapper button{
  width: 200px;
  font-size: 1.3rem;
  bottom: 20px;
  color: #fff;
  background-color: #A3B535;
  border: none;
  padding: 10px 0;
  border-radius: 30px;
  cursor: pointer;
  position: absolute;
}

.container h2 {
  margin-top: 0;
}
.ingredientList {
  font-size: 1.3rem;
}

@media (max-width: 580px ) {
  .wrapper {
    flex-direction: column;
    margin-top: 20px;
    width: 90%;
    background-color:  #78736ee0;
    overflow: none;
    height: 100%;
    margin-bottom: 50px;
  }
  .wrapper .img{
    width: 90%;
  }
  .wrapper .leftDiv {
    width: 90%;
    background-color: #78736ee0; 
  }
  .wrapper .ingredients {
    width: 90%;
    background-color: #78736ee0;
    flex-direction: column;
    padding-bottom: 150px;
  }
  .wrapper button{
    width: 200px;
    bottom: -120px;
    position: absolute;
  }
  
  
}